page-area {
    .botao{
        font-size: 2.6rem;
    }

    .texto{
        padding-top: 50%;
    }

}

.alertCustomCss{
    .texto{
        color: gray;
    }
    label{
        color: aquamarine;
    }
    .buttoncss{
        
    }

}
