<ion-header>
  <ion-navbar color="danger">
    <ion-title>Área</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="setoresDisponiveis">
    <ion-list radio-group [(ngModel)]="area">
      <ion-item>
        <ion-label class="ion-text-justify">Nenhum</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
      <div *ngFor="let area of setoresDisponiveis.setoresCensitarios">
        <ion-item *ngIf='area.ativo'>
          <ion-label class="ajuste-texto">{{ getSetorNome(area) }} <p *ngIf='!area.criado_em'>Armazenado localmente</p>
          </ion-label>
          <ion-radio value="{{ area.id }}"></ion-radio>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar style="text-align: center">
    <ion-item>
      <ion-label color="primary" stacked>Nova área:</ion-label>
      <ion-input [(ngModel)]="area_nova" type="email" placeholder="Insira aqui o nome da nova área"></ion-input>
    </ion-item>
    <br>
    <button (click)="adicionarNovaArea()" class="botao" ion-button color="danger">
      Cadastrar Nova Área
    </button>
  </ion-toolbar>
</ion-footer>