<ion-header>
  <ion-toolbar color="secondary">
    <ion-title >Observações </ion-title>
    <ion-buttons start>
      <button (click)="logout()" ion-button icon-only color="royal">
        Logout
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="!listaObservacao" style="text-align: center">
    <h3 class="texto">Nenhuma Observação</h3>
  </div>
  <div *ngIf="listaObservacao">
    <ion-card *ngFor="let observacao of listaObservacao.lista">
      <ion-card-content>
        <h2 class="card-title">
          {{observacao.titulo}}
        </h2>
        <hr>
        <p>
          {{observacao.texto}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>