page-visualizar {
    .tipoA{
        background-color: rgba(0, 138, 121, 0.05);
        padding: 2%;
    }
    .tipoB{
        background-color: rgba(249, 249, 249, 0.5);
        padding: 2%;
        color: black;
    }
    .fundo{
        background-color: rgba(249, 249, 249, 0.5);
    }
    .centro{
        text-align: center;
    }
}
