<!--
  Generated template for the SelecionarAreaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="danger">
    <ion-title>Selecione a área.</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="setoresDisponiveis">
    <ion-list radio-group [(ngModel)]="area">
      <ion-item *ngIf='nenhumVisible'>
        <ion-label class="ion-text-justify">Nenhum</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
      <ion-item *ngFor="let area of setoresDisponiveis.setoresCensitarios">
        <ion-label class="ajuste-texto">{{ area['_nome'] }}</ion-label>
        <ion-radio value="{{ area.id }}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col col-6>
        <button ion-button full (click)="cancelar()" class="botao" color="danger">
          Cancelar
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full (click)="adicionarNovaArea()" class="botao" color="primary">
          Salvar
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>