page-selecionar-area {
    .ajuste-texto{
        text-overflow: inherit;
        white-space: normal;
        text-align: justify;
        text-justify: inter-word;
        text-align: left;
      }
}
