<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="questionariosDisponiveis">Questionários: {{ questionariosDisponiveis.questionarios.length }}
    </ion-title>
    <ion-title *ngIf="!questionariosDisponiveis">Questionários</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="!questionariosDisponiveis && !setoresDisponiveis" style="text-align: center">
    <h3 class="texto">Buscando Dados...</h3>
  </div>
  <div *ngIf="questionariosDisponiveis && setoresDisponiveis">
    <div *ngFor="let questionario of questionariosDisponiveis.questionarios ">
      <ion-card>
        <ion-card-content (click)="$escolherSetor(questionario)">
          <h2 class="card-title">
            {{ questionario.nome }}
          </h2>


                      <hr>
          <p>
            Última edição: {{ questionario.editado_em | date:'h:mm:ss a, d/M/yy' }}
          </p>
          <p>
            Criado em: {{ questionario.criado_em | date:'h:mm:ss a, d/M/yy' }}
          </p>
                    <!--

          <hr>
            <ion-item>
            <ion-select [(ngModel)]="questionario.setor_censitario" [selectOptions]="setorCensitarioOpts">
              <ion-option *ngFor="let setor of setoresDisponiveis.setoresCensitarios" [value]="setor"> {{ setor.nome}} </ion-option>
            </ion-select>
          </ion-item>-->
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>