<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="questionariosDisponiveis">Questionários: {{ questionariosDisponiveis.questionarios.length }}
    </ion-title>
    <ion-title *ngIf="!questionariosDisponiveis">Questionários</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="marcador_carregando_dados" style="text-align: center">
    <h3 class="texto">Buscando Dados...</h3>
  </div>
  <div *ngIf="!marcador_carregando_dados && questionariosDisponiveis && setoresDisponiveis">
    <div *ngFor="let questionario of questionariosDisponiveis.questionarios ">
      <ion-card>
        <ion-card-content (click)="$escolherSetor(questionario)">
          <h2 class="card-title">
            {{ questionario.nome }}
          </h2>
          <hr>
          <p>
            Última edição: {{ questionario.editado_em | date:'h:mm:ss a, d/M/yy' }}
          </p>
          <p>
            Criado em: {{ questionario.criado_em | date:'h:mm:ss a, d/M/yy' }}
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>